* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-1: 'Open Sans', sans-serif;
    --font-2: 'Raleway', sans-serif;
}

/* body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
} */
.container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    flex-shrink: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 32px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3px;
    display: flex;
    font-family: var(--font-1);
    flex-direction: row;
    align-items: center;
    gap: 95px;
}

.menu-list a {
    color: var(--color-grey);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: var(--font-1);
    text-transform: uppercase;
    border-bottom: solid transparent;
}

.menu-list a:hover {
    color: #000;
    border-color: var(--color-primary);
}

.hero {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {}

.hero img {
    height: auto;
    width: 100%;
}

.hero-title {
    height: 100%;
    font-family: var(--font-2);
    font-size: 49px;
    padding-top: 200px;
    text-align: center;
}

.hero-text {
    font-size: 16px;
    font-family: var(--font-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.hero-buttons {
    text-align: center;
    padding-top: 60px;

}

.hero-button {
    height: 67px;
    width: 440px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-1);
}

.stats {
    margin-top: 100px;
}

.stats-title {
    font-family: var(--font-2);
    font-size: 36px;
    text-wrap: nowrap;
    padding-top: 100px;
    text-align: center;
}

.stats-element {
    max-width: 770px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
}

.person {
    position: absolute;
    z-index: 2;
    translate: 60%;
}

.eye {
    position: absolute;
    z-index: 2;
    translate: 40% 30%;
}

.catalog {
    position: absolute;
    z-index: 2;
    translate: 60%;
}

.entries-circle {
    background-color: var(--color-redish)
}

.viev-circle {
    background-color: var(--color-primary);
}

.post-circle {
    background-color: var(--color-green);
}

.stat-number {
    font-size: 20px;
    font-weight: 800;
    font-family: var(--font-2);
    letter-spacing: 6px;
    color: #000;
}

.stat-text {
    font-size: 17px;
    font-family: var(--font-2);
    color: var(--color-grey);
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-wrap: wrap;
}

.benefits {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-light-grey)
}

.benefit__first-container {}

.benefit__first-element {
    width: 1124px;
    background-color: #fff;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 38px;
    border-radius: 5px;
}

.benefit__first-text {
    max-width: 415px;
    margin: 90px 36px;
    font-family: var(--font-1);
}

.benefit__first-text::after {
    content: "";
    width: 327px;
    height: 4px;
    background-color: var(--color-redish);
    display: flex;
    margin-top: 50px;
}

.benefit_first-title {
    font-family: var(--font-2);
    font-size: 36px;
    color: #000;
}

.benefit__first-info {
    max-width: 416px;
    color: #000;
    margin-top: 30px;
    font-family: var(--font-1);
    font-size: 16px;
}

.benefit__first-img {
    position: relative;
}

.benefit-img-macbook {
    max-height: 219px;
    width: auto;
    position: relative;
    padding-right: 70px;
}

.benefit__first-img::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 50px;
    top: -40px;
    transform: rotate(45deg);
}

.benefit__shop-element {
    width: 1124px;
    background-color: #fff;
    border: 1px solid #E8E9ED;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 38px;
    border-radius: 5px;
}

.benefit__shop-text {
    max-width: 415px;
    margin: 90px 36px;
    font-family: var(--font-1);
}

.benefit__shop-text::after {
    content: "";
    width: 327px;
    height: 4px;
    background-color: var(--color-primary);
    display: flex;
    margin-top: 50px;
}

.benefit_shop-title {
    font-family: var(--font-2);
    font-size: 36px;
    color: #000;
}

.benefit__shop-info {
    max-width: 416px;
    color: #000;
    margin-top: 30px;
    font-family: var(--font-1);
    font-size: 16px;
}

.benefit__shop-img {
    position: relative;
}
.benefit__shop-img::after {
    content: "";
    width: 260px;
    height: 260px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: -20px;
    transform: rotate(45deg);
}

.benefit-img-iphone {
    width: 426px;
    position: relative;
    padding-right: 70px;
    z-index: 2;
}
.benefit__brand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefit__brand-element {
    width: 623px;
    background-color: #fff;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 38px;
    border-radius: 5px;
}

.benefit__brand-text {
    width: 623px;
    margin: 90px 36px;
    font-family: var(--font-1);
}

.benefit__brand-text::after {
    content: "";
    width: 327px;
    height: 4px;
    background-color: var(--color-green);
    display: flex;
    margin-top: 50px;
}

.benefit_brand-title {
    font-family: var(--font-2);
    font-size: 36px;
    color: #000;
}

.benefit__brand-info {
    color: #000;
    margin-top: 30px;
    font-family: var(--font-1);
    font-size: 16px;
}

.benefit__brand-img {
    position: relative;

}
.benefit__brand-img::after {
    content: "";
    height: 386px;
    width: 100%;
    translate: (50% -50%);
    background-color: var(--color-green);
    display: block;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.benefit-img-trumpet {
    max-height: 219px;
    width: auto;
    position: relative;
    padding-right: 70px;
    z-index: 2;
}

.pricing {
    margin-top: 100px;
}

.pricing-title {
    font-family: var(--font-2);
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
.pricing__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 113px;
}
.price-inside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 461px;
    border-radius: 18px;
    border: 1px solid black;
} 

.box-title {
    font-size: 20px;
    color: #13253B;
    font-family: var(--font-2);
    font-weight: bold;
}
.item-price {
    font-size: 46px;
    font-family: var(--font-1);
    font-weight: 300;
    margin-top: 14px;
}
.price-info{
    display: flex;
    align-items: center;  
    text-align: center;
    flex-direction: column;
    margin-top: 34px;
    margin-bottom: 60px;

}
.box-price {
    padding-top: 34px;
    position: relative;
}

.box-items {
    list-style: none;
    color: blue;
    flex-direction: column;
}
.box-item {
    font-size: 14px;
    font-family: var(--font-1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-bottom: 20px;
}
.price-limited {
    text-align: center;
    font-size: 12px;
    color: #13253B;
    font-weight: bold;
    font-family: var(--font-2);
    margin-top: 15px;
}
.box-item::before {
    content: "";
    width: 11px;
    height: 11px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(/assets/Ckechmark-1.svg);
}
.box-item-x::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;

    background-image: url(/assets/Close.svg);
}

.price-inside-basic{
    border-color: var(--color-redish);
}
.price-inside-basic .item-price {
    color: var(--color-redish);
    margin-bottom: 27px;
}

.price-inside-proffesional {
    border-color: var(--color-primary);
    width: 405px;   
    height: 500px;
    margin: 0 59px;
}

.price-inside-proffesional .item-price {
    color: var(--color-primary);
}
.price-inside-proffesional .box-item {
    margin-bottom: 25px;
}

.price-inside-premium {
    border-color: var(--color-green);
}


.price-inside-premium .item-price {
    color: var(--color-green);
}
.price-button {
    text-decoration: none;
    font-size: 13px;
    font-family: var(--font-1);
    font-weight: bold;
    position: relative;
    bottom: -15px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: 23px;
    border: none;
}

.price-inside-basic .price-button {
    background-color: var(--color-redish);
}
.price-inside-proffesional .price-button {
    background-color: var(--color-primary)
}
.price-inside-premium .price-button {
    background-color: var(--color-green)
}

.contact {
    padding-top: 173px;
    max-width: 896px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.contact-container {
    
}
.contact-left, .contact-right{
    width: 50%;    
}
.contact-left {}
.contact-left-title{
    font-size: 49px;
    font-family: var(--font-2);
    color: #000;
}
.contact-left-text{
    font-size: 16px;
    font-family: var(--font-1);
    color: #000;
    margin-top: 22px;
}
.contact-left-contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-grey);
    padding-top: 42px;
    font-size: 16px;
    font-family: var(--font-1);
    font-weight: 500;
    text-decoration: none;
}
.contact-left-email{

}
.contact-left-email::before{
    content: "";
    width: 27px;
    height: 27px;
    margin-right: 10px;
    display: inline-block;
    background-image: url(/assets/Mail\ Icon.svg);
    vertical-align: middle;
}

.contact-left-phone{
    
}
.contact-left-phone::before{
    content: "";
    width: 27px;
    height: 27px;
    margin-right: 10px;
    margin-left: 20px;
    display: inline-block;
    background-image: url(/assets/Phone\ Icon.svg);
    vertical-align: middle;
}

.contact-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form {
    display: flex;
  flex-direction: column;
}

.form-column{
    display: flex;
    flex-direction: column;
}
.form-column:nth-child(1){
    padding-bottom: 42px;
}
.form-column:nth-child(2){
}
.form-label{
    font-size: 11px;
    letter-spacing: 3.28px;
    color: var(--color-primary);
    font-family: var(--font-1);
    text-transform: uppercase;
    font-weight: bold;
}
.form-control{
    padding-top: 30px;
    border: none;
    border-bottom: 1px solid var(--color-grey);
}

.form-check-input{
    flex-shrink: 0;
    appearance: none;
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}
.form-check-input:checked{
    flex-shrink: 0;
    appearance: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    background-image: url(/assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.form-check {
    display: flex;
    gap: 10px;
}
.form-row{
    margin-top: 30px;
}
.form-check-label{
}
.contact-right-text {
    font-size: 12px;   
    margin: 0 10px; 
    color: var(--color-grey);
    font-family: var(--font-1);
    line-height: 17px;
}
.contact-button {
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}
.form-btn{
    text-decoration: none;
    font-size: 11px;
    font-family: var(--font-1);
    font-weight: bold;
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 20px 97px;
    border-radius: 35px;
    border: none;
}

.footer{
    padding: 20px 0;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.16);
}
.footer-container{
    width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-logo{
    font-size: 26px;
    color: var(--color-primary);
}
.footer-text{
    font-size: 11px;
    color: var(--color-grey);
    margin-top: 6px;
   
}
.footers-socials:first-of-type{

}
.footer-twitter{

}